@model CQRSCode.ReadModel.Dtos.InventoryItemDetailsDto
@{
    ViewData["Title"] = "Details";
}
<h2>Details:</h2>
Id: @Model.Id<br />
Name: @Model.Name<br />
Count: @Model.CurrentCount<br /><br />

@Html.ActionLink("Rename","ChangeName", new{Id=Model.Id})<br />
@Html.ActionLink("Deactivate","Deactivate",new{Id=Model.Id, Version = Model.Version})<br />
@Html.ActionLink("Check in","CheckIn", new{Id=Model.Id})<br />
@Html.ActionLink("Remove","Remove", new{Id=Model.Id,Version=Model.Version})<br /><br />
<a href="/">Back</a>